body {
    background:black url("../terminal.jpeg") no-repeat fixed center;
}
.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    cursor: default;
    float: right;
    position: relative;
    z-index: 999;
  }
.btn-group .button:hover {
    background-color: black;
}
.parent{
    position: relative;
}
.over-img{
    position: absolute;
    top: 5%;
    left: 15%;
}

.mask{
    position: relative;
}
.centre {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
h1{
    color: blanchedalmond;
}
