body {
    background:black url("../terminal5.jpg") no-repeat fixed center;
}
.header {
    width: 100%;
    height: 80px;
}
.topleft
{
float: left;
height: 80px;
margin-left: auto;
margin-right: auto;
}
.topright
{
float: right;
height: 80px;
margin-left: auto;
margin-right: auto;
padding-top: 1%;
}

.btn-group {
background-color:#FE5A07;
width: 100%;
height: auto;
}
.button{
    width: 150px;
    height: 50px;
}
.btn-group .button {
    background-color: #FE5A07; /* Orange */
    border: none;
    color: white;
    margin-left: none;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    font-family: 'Source Serif Pro', serif;
    cursor: default;
  }
.btn-group .button:hover 
{
    background-color: black;
}
.btn-group .button a:link {
    color: white;
    text-decoration: none;
  }

a{
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgb(77, 77, 77);
  }

img{
    width: 150px;
    height: 150px;
    z-index: 999;
    padding-left: 1%;
}
h1{
    color: blanchedalmond;
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
    font-family: 'Source Serif Pro', serif;
    font-size: 80px;
    text-align: center;
}
h2{
    color: blanchedalmond;
    padding-left: 15%;
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}
